:root {
    --primary-color: #FFFAFA;
    --secondary-color: #002A75;
    --dark-grey: #424242;
    --highlight-color: #FFD100; 
}

*{
    box box-sizing: border-box;
}
body {
    margin: 0;
    background-color: #FFFAFA;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
header {
    background-color: var(--secondary-color);
    color: var(--highlight-color);
    padding: 2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p {
    margin-bottom: 1.5rem
}


/******* Layout *******/

.container {
    background-color: #FFFAFA;
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(12, 1fr);
    margin: 0 auto;
    width: min(95%, 75rem);
    padding: .5rem;
}
.container > * {
    grid-column: span 12;
}
.containera {
    background-color: #FFFAFA;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin: 0 auto;
    width: min(95%, 75rem);
}
.containera > * {
    grid-column: span 12;
}
.container2 {
    background-color: #FFD100;
    display: grid;
    gap: 1.5rem;
    margin: 0 auto;
    width: min(95%, 75rem);
    text-align: center;
    justify-content: center;
    padding: .5rem 0 .5rem 0;

}
.container2 > * {
    grid-column: span 12;
}
.container3 {
    background-color: #002A75;
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(12, 1fr);
    margin: 0 auto;
    width: min(95%, 75rem);
    color: var(--primary-color);
    text-align: left;
    padding: .5rem 0 .5rem 0;
}
.container3 > * {
    grid-column: span 12;
}
.container4 {
    background-color: var(--primary-color);
    display: grid;
    gap: 1.5rem;
    margin: 0 auto;
    width: min(95%, 75rem);
    text-align: center;
    justify-content: center;
    padding: .5rem 1.5rem .5rem 1.5rem;

}
.container4 > * {
    grid-column: span 12;
}
.img {
    width: 100%;
    height: auto;
}

/********** Navigation Using Flexbox **********/
nav {
    background-color: var(--highlight-color);
    padding: 0 1rem;
    display: flex;
    position: sticky;
    top: 0;
    color: var(--secondary-color);
}
nav ul {
    margin: 0;
    padding: .5rem;
    list-style: left;
    display: flex;
    flex-flow: row wrap;
}
nav li {
    margin: 0 .5rem;
    float: left;
    list-style: none;
}

.list2 {
    float: right;
}

/******* Components *******/
.button:link, .button:visited {
    color: var(--secondary-color);
    background-color: var(--highlight-color);
    text-align: center;
    text-decoration: none;
    padding: 1rem 1.75rem;
    border-radius: 1.5rem;
    box-shadow: 0 .125rem .5rem rgba(0, 0, 0, .15);
    display: inline-block;
    margin: 0 .5rem .25rem 0;
    transition: background-color 0.5s ease;
    float: right;
}
.button:hover {
    background-color: #2f61b8;
}
.searchbar {
    background-color: white;
    color: lightgray;
    text-align: center;
    text-decoration: none;
    padding: 1rem 1.75rem;
    border-radius: .5rem;
    box-shadow: 0 .125rem .5rem rgba(0, 0, 0, .15);
    display: inline-block;
    margin: 0 .25rem .25rem .5rem;
    width: 15rem;
    float: right;
}

.card {
        text-align: left;
        margin: 1rem;
        padding-bottom: 2rem;
        background-color: #FFFAFA;
        flex-basis: 27.5%;
}
.card-title {
    margin: 0.75rem 0 0 0;
    padding: 0 2rem 0.5rem;
}
.card-text {
    margin: 0.5rem 0 1rem 0;
    padding: 0 2rem 0.5rem;
    
}
.cardimage {
    display: inline-block;
    margin-left: .5rem;
    width: 100%;
    height: auto;

}
.cardimage1 {
    display: inline-block;
    margin-left: 0 .5rem 0 0;
    width: 100%;
    height: auto;

}
.bottom-menu {
    margin: 0 .5rem;
    float: left;
    list-style: none;
    margin: 0;
    padding: .5rem;
    display: flex;
    flex-flow: row wrap;
}


/******* Desktop Layout *******/
@media screen and (min-width: 40rem) {
    .col-span-6 {
        grid-column: span 6;
    }
    .col-span-3 {
        grid-column: span 3;
    }
    .col-span-8 {
        grid-column: span 8;
        padding-right: 1.5rem;
    }
    .col-span-4 {
        grid-column: span 4;
        background-color: var(--secondary-color);
        color: var(--primary-color);
        padding: 1.5rem;
        
    }
    .col-span-4a {
        grid-column: span 4;

        padding: 1.5rem;
        
    }
    .col-span-9 {
        grid-column: span 9;
        
    }

}    