:root {
    --primary-color: #FFFAFA;
    --secondary-color: #002A75;
    --dark-grey: #424242;
    --highlight-color: #FFD100; 
}

*{
    box box-sizing: border-box;
}
body {
    margin: 0;
    background-color: #FFFAFA;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
header {
    background-color: var(--secondary-color);
    color: var(--highlight-color);
    padding: 2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
nav {
    background-color: var(--highlight-color);
    padding: 0 1rem;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    color: var(--secondary-color);
    list-style-type:none;
}