*{
    box box-sizing: border-box;
}
body {
    margin: 0;
    background-color: #FFFAFA;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
header {
    background-color: #002A75;
    color: #FFD100;
    padding: 2rem;
}