*{
    box box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

header {
    background-color: white;
    color: grey;
    padding: 0;
    justify-content: left;
    grid-column: span 3;
    display: flex;
    justify-content: flex-start;
}
h1 {
    font-size: 2rem;
    font-family: 'Raleway', sans-serif;
}
h2 {
    font-size: 1.5 rem;
    font-family: 'Raleway', sans-serif;
}
h3 {
    font-size: 1.25 rem;
    font-family: 'Raleway', sans-serif;
    justify-content: center;

}
img {
    max-width: 100%;

}
a:link, a:visited {
    color: #9abcf8;
    text-decoration: none;
}
a:hover {
    color: #4332da;
    text-decoration: underline;
}
/******* Layout *******/
.container {
    background-color: white;
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(12, 1fr);
    margin: 0 auto;
    width: min(95%, 75rem);
}
.container > * {
    grid-column: span 12;
}

.container2 {
    background-color: #F5F8FA;
    justify-content: center;
    text-align: center;  
    padding: 1rem;
}

.container3 {
    background-color: #1AADAD;
    color: white;
    justify-content: center;
    text-align: center;
    padding: 1rem;
}
.container4 { 
    background-color: #2D3E50;
    color: white;
    padding: 1rem;
}
.col-span-8a {
    grid-column: span 8;
    color: grey;
}
.work1 {
    justify-content: center;
    text-align: center;
    padding: 2.5rem 10rem .5rem 10rem;
    margin: 2.5rem 10rem .5rem 10rem;
}
.bg {
    background-color: #F5F8FA;
    padding: 0 2.5rem 0 2.5rem;
    margin: 0 2.5rem 0 2.5rem;
}

/********** Navigation Using Flexbox **********/
nav {
    padding: 0;
    display: flex;
    justify-content: left;
    position: sticky;
    top: 0;
    color: grey;
    background-color: white;
    grid-column: span 12;

}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    color: grey;
    grid-column: span 6;
}
nav li {
    margin: 0 0.5rem;
    color: grey;
    grid-column: span 6;
    padding-top: 2rem;
    display: flex;
}
nav a:link, nav a:visited {
    color: grey;
    text-decoration: none;
    font-size: 1.125rem;
    padding: 1rem;
    display: block;
}
nav a:hover {
    color: grey;
    transition: ease-in-out 250ms;
}
.col-span-8b {
    grid-column: span 8;
    color: grey;
    font-size: .25rem;
}

/******* Components *******/
.button:link, .button:visited {
    color: white;
    background-color: #FF7A59;
    text-align: center;
    text-decoration: none;
    padding: 1rem 1.75rem;
    border-radius: .5rem;
    box-shadow: 0 .125rem .5rem rgba(0, 0, 0, .15);
    display: inline-block;
    margin: 0 .25rem .25rem 0;
    transition: background-color 0.5s ease;
}
.button:hover {
    background-color: #F8F3F2;
}
.button1:link, .button1:visited {
    color: white;
    background-color: #FF7A59;
    text-align: right;
    text-decoration: none;
    border-radius: .5rem;
    box-shadow: 0 .125rem .5rem rgba(0, 0, 0, .15);
    margin: 0 .25rem .25rem 0;
    transition: background-color 0.5s ease;
}
.button1:hover {
    background-color: #F8F3F2;
}
.navbutton {
    grid-column: span 3;
    padding-top: 2rem;

}

.card {
    text-align: center;
    margin: 1rem;
    padding-bottom: 2rem;
    box-shadow: 0 .125rem .5rem rgba(0, 0, 0, .15);
    background-color: white;
}
.card-title {
    margin: 0.75rem 0 0 0;
    padding: 0 2rem 0.5rem;
}
.card-text {
    margin: 0.5rem 0 1rem 0;
    padding: 0 2rem 0.5rem;
}
.vl {
    border-left: 1px solid white;
    height: 500px;
    position: absolute;
    left: 25%;
    margin-left: -3px;
    top: 0;
}
.bullet {
    justify-content: left;
    text-align: left;
    padding-left: 2.5rem;
}
.cardimage {
    display: inline-block;
    margin-left: .5rem;
    width: 1.5rem;
    height: 1.5rem;
}

/******* Desktop Layout *******/
@media screen and (min-width: 40rem) {
    .col-span-8 {
        grid-column: span 8;
    }
    .col-span-4 {
        grid-column: span 4;
    }
    .col-span-6 {
        grid-column: span 6;
    }
    .col-span-9 {
        grid-column: span 9;
    }
    .col-span-3 {
        grid-column: span 3;
    }
    .col-span-2 {
        grid-column: span 2;
    }
    .work-section {
        display: flex;
        justify-content: center;
        flex-flow: row wrap;
        background-color: #F5F8FA;
    }
    .work-section2 {
        display: flex;
        justify-content: center;
        flex-flow: row wrap;   
        text-indent: 2rem;   
        text-size-adjust: 5rem;  
    }
    .work-section3 {
        display: flex;
        justify-content: left;
        flex-flow: row wrap;   
        text-indent: 2rem;   
        text-size-adjust: 2rem;  
        font-size: .75rem;
    }
    .work-section4 {
        display: flex;
        justify-content: flex-end;
        flex-flow: row wrap;   
        text-indent: 2.5rem;   
        text-size-adjust: 2.5rem;  
        font-size: .75rem;
        color: grey;
    }
    .work-section5 {
        display: flex;
        justify-content: center;
        background-color: #F5F8FA;
    }

    .card {
        flex-basis: 27.5%;
    }

}
    
