body {
margin: 0 25%;
font-family: sans-serif;
}
h1 {
    font-size: 2rem;
}
h2 {
    font-size: 1.5 rem;
}
h3 {
    font-size: 1.25 rem;
}
.circle {
    border-radius: 50%;
    border: 5px solid #d1633c
}