*{
    box box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}
body {
    margin: 0;
    background-image: url("../images/moroccan-flower-bg.png");
}

header {
    background-color: #9abcf8;
    color: white;
    padding: 2rem;
}
h1 {
    font-size: 2rem;
    font-family: 'Raleway', sans-serif;
}
h2 {
    font-size: 1.5 rem;
    font-family: 'Raleway', sans-serif;
}
h3 {
    font-size: 1.25 rem;
    font-family: 'Raleway', sans-serif;
}
.circle {
    border-radius: 50%;
    border: 5px solid #9abcf8;
}
a:link, a:visited {
    color: #9abcf8;
    text-decoration: none;
}
a:hover {
    color: #4332da;
    text-decoration: underline;
}
/******* Layout *******/
.container {
    background-color: white;
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(12, 1fr);
    margin: 0 auto;
    width: min(95%, 75rem);
}
.container > * {
    grid-column: span 12;
}
/******* Desktop Layout *******/
@media screen and (min-width: 40rem) {
    .col-span-8 {
        grid-column: span 8;
    }
    .col-span-4 {
        grid-column: span 4;
}

/******* Components *******/
.button:link, .button:visited {
    color: white;
    background-color: #9abcf8;
    text-align: center;
    text-decoration: none;
    padding: 1rem 1.75rem;
    border-radius: 1.5rem;
}