body {
margin: 0 25%;
font-family: 'Roboto', sans-serif;
}
header {
    background-color: #9abcf8;
    color: white;
    padding: 2rem;
}
h1 {
    font-size: 2rem;
    font
}
h2 {
    font-size: 1.5 rem;
}
h3 {
    font-size: 1.25 rem;
}
.circle {
    border-radius: 50%;
    border: 5px solid #9abcf8;
}